.top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #4a707a;
    height: 40px;
}

.top a{
    font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-weight: bold;
  color: #DDDDDA !important;
}

.lightgray{
    background-color: darkgray !important;
    color:white;
    margin-left: 45px;
}

li{
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    list-style: none;
    overflow-wrap: break-word;
    display: flex;
    justify-content: space-between;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(97, 137, 211);
    color:white;
}

.container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.main{
    padding: 25px;
    border-radius: 5%;
    height: 500px;
    width: 500px;
    background-color: white ;
}

body{
    background-color: cornflowerblue;
}

ul{
    padding-left:none !important;
}

input{
    border-radius: 5px;
    height: 35px;
}

.finished{
    background-color: darkgray !important;
    color:white;
    margin-left: 45px;
}

button{
    height: 40px;
    margin: 3px;
}